@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    width: auto;
   background-image:linear-gradient(to top,#0A7373,#b7bf995e ,#010221);
}
header{
    margin:5px 0px 0px 40px;
}

.interface{
    min-height: 100vh;
    margin:40px 4%;
}
.conteudo-pricipal{
    width: 1350px;
    display:flex;
    align-items:center;
    justify-content:center;
    
}
h1{
    color:#C43302;
    font-size:40px;
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.623);
}
p{
    color:#03053f;
    font-size:25px;
    padding:10px;
}
button{
    background-color:#C43302;
    color:#03053f;
    padding:20px;
    border-radius:10px;
    font-size:1em;
    border:none;
}
.btn{
    padding:10px;
   
}
button a{
    text-decoration:none;
    color:#03053f;
}
button a:hover{
    color:#edaa25fb;
}
button:hover{
    box-shadow:0px 0px 7px #C43302;
}


@media screen and (max-width:1020px) {
    header{
        margin:0px 0px 0px 15px;
    }
    
    .conteudo-pricipal{
        width: auto;
        flex-direction:column-reverse;
        position:relative; 
    }
    .img{
        width:40%;
        margin-right:60%;
    }

    h1{
        padding:10px;
    }
 
  
}

/* margin:-40px 0px 0px -0px; */